 .u-section-1 {
  background-image: url("images/robotgradientintro2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-image-1 {
  width: 178px;
  height: 178px;
  margin-top: 89px;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: -27px;
}

.u-section-1 .u-group-1 {
  width: 658px;
  min-height: 439px;
  margin: -106px auto 75px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 56px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 56px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-image-1 {
    width: 147px;
    height: 147px;
    margin-left: -22px;
  }

  .u-section-1 .u-group-1 {
    width: 543px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 46px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 74.2% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-image-1 {
    width: 112px;
    height: 112px;
    margin-left: -17px;
  }

  .u-section-1 .u-group-1 {
    width: 502px;
    min-height: 393px;
    margin-bottom: 116px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-image-1 {
    width: 105px;
    height: 105px;
    margin-top: 75px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 390px;
    min-height: 433px;
    margin-top: -91px;
    margin-bottom: 115px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    width: 88px;
    height: 88px;
    margin-top: 56px;
  }

  .u-section-1 .u-group-1 {
    width: 327px;
    min-height: 377px;
    margin-top: -104px;
    margin-bottom: 112px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-image-1 {
  width: 461px;
  height: 589px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -164px 0 0 auto;
}

.u-section-2 .u-sheet-1 {
  min-height: 614px;
  margin: -425px auto 0;
}

.u-section-2 .u-group-1 {
  width: 554px;
  min-height: 471px;
  margin: 45px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin: 12px 0 0;
}

.u-section-2 .u-line-1 {
  width: 427px;
  height: 11px;
  transform-origin: left center 0;
  margin: 66px 87px 0 0;
}

.u-section-2 .u-text-2 {
  margin: -69px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 50px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  margin: 33px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 427px;
    height: 632px;
    margin-top: -155px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 706px;
    margin-top: -477px;
  }

  .u-section-2 .u-group-1 {
    width: 556px;
    min-height: 601px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    text-transform: uppercase;
    font-weight: normal;
  }

  .u-section-2 .u-line-1 {
    width: 474px;
    margin-right: 72px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    font-weight: 700;
    font-size: 2.25rem;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 334px;
    height: 590px;
    margin-top: -161px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 737px;
    margin-top: -429px;
  }

  .u-section-2 .u-group-1 {
    width: 460px;
    min-height: 558px;
    margin-bottom: 36px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 398px;
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 352px;
    height: 514px;
    margin-top: -141px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
    margin-top: -373px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
    min-height: 542px;
    margin-top: 236px;
    margin-bottom: 90px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 385px;
    margin-right: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 330px;
    height: 589px;
    margin-top: -112px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1162px;
    margin-top: -477px;
  }

  .u-section-2 .u-group-1 {
    min-height: 638px;
    margin-top: 369px;
    margin-bottom: 102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 600;
  }

  .u-section-2 .u-line-1 {
    width: 291px;
    margin-right: 37px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-top: -62px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 43px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 154px;
  }
} .u-section-3 {
  background-image: url("images/bggradient.jpg");
}

.u-section-3 .u-image-1 {
  width: 329px;
  height: 465px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -87px auto 0 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 1012px;
  margin: -378px auto 0;
}

.u-section-3 .u-image-2 {
  width: 515px;
  height: 515px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
  margin: -272px 111px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 150px;
  height: 150px;
  margin: -150px 78px 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 98px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 439px;
}

.u-section-3 .u-image-4 {
  height: 352px;
  margin: 109px auto -52px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 439px;
}

.u-section-3 .u-image-5 {
  height: 603px;
  margin: -67px auto -127px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 439px;
}

.u-section-3 .u-image-6 {
  margin-top: 100px;
  margin-right: auto;
  margin-left: 0;
  height: 309px;
}

.u-section-3 .u-image-7 {
  min-height: 439px;
  background-image: url("images/Untitled9.jpg");
  background-position: 59.1% 50%;
}

.u-section-3 .u-group-1 {
  width: 555px;
  min-height: 136px;
  margin: 20px 0 91px auto;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 373px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-image-2 {
    width: 425px;
    height: 425px;
    margin-right: 92px;
  }

  .u-section-3 .u-image-3 {
    width: 124px;
    margin-right: 64px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 560px;
    margin-top: -27px;
    margin-bottom: -124px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 458px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 285px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1622px;
  }

  .u-section-3 .u-image-2 {
    width: 446px;
    height: 446px;
    margin-top: -239px;
    margin-right: 57px;
  }

  .u-section-3 .u-image-3 {
    width: 131px;
    height: 174px;
    margin-top: -163px;
    margin-right: 28px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 160px;
    margin-right: auto;
    margin-left: 3px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-3 .u-image-5 {
    height: 515px;
    margin-top: -106px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    min-height: 467px;
  }

  .u-section-3 .u-group-1 {
    width: 717px;
    min-height: 185px;
    margin-top: 28px;
    margin-right: auto;
    margin-bottom: 111px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 638px;
    margin-top: -147px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2291px;
    margin-top: -491px;
  }

  .u-section-3 .u-image-2 {
    width: 366px;
    height: 366px;
    margin-top: -188px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 89px;
    height: 150px;
    margin-top: -127px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-3 .u-image-5 {
    height: 560px;
    margin-top: -27px;
    margin-bottom: -124px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 439px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    min-height: 439px;
  }

  .u-section-3 .u-group-1 {
    min-height: 200px;
    margin-top: 42px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 207px;
    height: 563px;
    margin-top: -83px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2435px;
    margin-top: -481px;
  }

  .u-section-3 .u-image-2 {
    width: 316px;
    height: 316px;
    margin-top: -166px;
  }

  .u-section-3 .u-image-3 {
    width: 75px;
    margin-top: -109px;
    margin-right: 24px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-3 .u-image-4 {
    height: 457px;
    margin-top: -71px;
    margin-bottom: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 419px;
    margin-top: 20px;
    margin-bottom: -30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 368px;
    margin-top: 41px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 219px;
    margin-top: 41px;
    margin-bottom: 114px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-4 .u-image-1 {
  width: 419px;
  height: 535px;
  margin: -112px 0 0 auto;
}

.u-section-4 .u-sheet-1 {
  min-height: 707px;
  margin: -423px auto 0;
}

.u-section-4 .u-group-1 {
  width: 772px;
  min-height: 168px;
  margin: 25px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 36px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 15px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 919px;
  margin: 0 auto 69px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 445px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-4 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 30px 30px 45px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 445px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-4 .u-icon-2 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 30px 30px 45px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 445px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
}

.u-section-4 .u-icon-3 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 30px 30px 45px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 407px;
    object-position: 0% 50%;
    background-position: 0% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
    width: 758px;
    margin-left: calc(((100% - 940px) / 2) + 91px);
  }

  .u-section-4 .u-group-1 {
    width: 637px;
    min-height: 227px;
    margin-top: 127px;
    margin-left: -91px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    font-weight: normal;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 47px;
    margin-bottom: 47px;
    margin-left: -91px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-icon-1 {
    height: 73px;
    width: 73px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-icon-2 {
    height: 73px;
    width: 73px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 441px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-icon-3 {
    height: 72px;
    width: 72px;
    margin-top: 14px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 307px;
    height: 557px;
    margin-top: -190px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 842px;
    width: 580px;
    margin-top: -367px;
    margin-left: calc(((100% - 720px) / 2) + 70px);
  }

  .u-section-4 .u-group-1 {
    width: 488px;
    min-height: 168px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    height: 61px;
    width: 61px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 57px;
    width: 57px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 530px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 59px;
    width: 59px;
    margin-top: 17px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 248px;
    height: 535px;
    object-position: 3.86% 50%;
    background-position: 3.86% 50%;
    margin-top: -112px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 677px;
    margin-top: -423px;
    margin-left: auto;
    width: 540px;
  }

  .u-section-4 .u-group-1 {
    width: 457px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-1 {
    height: 34px;
    width: 34px;
    margin-top: 39px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 14px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 14px;
    margin-bottom: 45px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-2 {
    height: 34px;
    width: 34px;
    margin-top: 39px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 14px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 14px;
    margin-bottom: 45px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 445px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-3 {
    height: 34px;
    width: 34px;
    margin-top: 39px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
    margin-right: 14px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 14px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 259px;
    height: 595px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    margin-top: -172px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1967px;
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    min-height: 199px;
    margin-top: 263px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 600;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 134px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-1 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-2 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-3 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-bottom: 22px;
  }
} .u-section-5 {
  background-image: url("images/bggradient4.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-1 {
  width: 385px;
  height: 419px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -84px auto 0 0;
}

.u-section-5 .u-sheet-1 {
  min-height: 535px;
  margin: -334px auto 0;
}

.u-section-5 .u-group-1 {
  width: 804px;
  min-height: 355px;
  margin: 47px 0 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-1 {
  height: 104px;
  width: 104px;
  margin: 0 660px 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.875rem;
  margin: 20px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 317px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-group-1 {
    width: 663px;
    min-height: 345px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-1 {
    height: 86px;
    width: 86px;
    margin-right: 544px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 243px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-5 .u-group-1 {
    width: 508px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-icon-1 {
    height: 66px;
    width: 66px;
    margin-right: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 228px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-5 .u-group-1 {
    width: 476px;
    min-height: 353px;
    margin-top: 170px;
    margin-bottom: 70px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-icon-1 {
    height: 62px;
    width: 62px;
    margin-right: 313px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 261px;
    height: 459px;
    object-position: 98.6% 50%;
    background-position: 98.6% 50%;
    margin-top: -124px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 895px;
    margin-top: -335px;
  }

  .u-section-5 .u-group-1 {
    min-height: 439px;
    margin-top: 335px;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-icon-1 {
    height: 52px;
    width: 52px;
    margin-right: 197px;
  }
} .u-section-6 {
  background-image: url("images/bggradient3.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 535px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: -105px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 577px;
}

.u-section-6 .u-image-1 {
  object-position: 1.44% 50%;
  background-position: 1.44% 50%;
  height: 419px;
  width: 684px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-shape-1 {
  width: 61px;
  height: 158px;
  margin: -32px auto 0 207px;
}

.u-section-6 .u-image-2 {
  width: 363px;
  height: 250px;
  margin: -217px 77px 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 469px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 33px;
}

.u-section-6 .u-line-1 {
  width: 423px;
  height: 16px;
  transform-origin: left center 0;
  margin: 106px 0 0;
}

.u-section-6 .u-text-1 {
  margin: -66px 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 50px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 1.44% 50%;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-shape-1 {
    width: 99px;
    margin-left: 122px;
  }

  .u-section-6 .u-image-2 {
    width: 386px;
    margin-right: 16px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 27px;
    padding-right: 0;
  }

  .u-section-6 .u-line-1 {
    width: 349px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -52px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-6 .u-shape-1 {
    width: 104px;
    margin-left: 180px;
  }

  .u-section-6 .u-image-2 {
    width: 434px;
    margin-right: 49px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 41px;
  }

  .u-section-6 .u-line-1 {
    width: 421px;
    margin-top: 168px;
    margin-right: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -66px;
    margin-right: 160px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 50px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    height: 387px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-shape-1 {
    width: 52px;
    height: 184px;
    margin-top: -26px;
    margin-left: 98px;
  }

  .u-section-6 .u-image-2 {
    width: 377px;
    margin-right: 36px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-6 .u-line-1 {
    width: 419px;
    margin-top: 106px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 83px;
    width: 457px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-6 .u-image-1 {
    height: 419px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-shape-1 {
    width: 180px;
    height: 158px;
    margin-top: -32px;
    margin-left: 23px;
  }

  .u-section-6 .u-image-2 {
    width: 267px;
    height: 210px;
    margin-top: -177px;
    margin-right: 23px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-6 .u-line-1 {
    width: 324px;
    margin-top: 97px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: -52px;
    margin-right: 12px;
    width: 318px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 6px;
  }
} .u-section-7 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-7 .u-image-1 {
  width: 416px;
  height: 571px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -160px 0 0 auto;
}

.u-section-7 .u-sheet-1 {
  min-height: 933px;
  margin: -411px auto 0;
}

.u-section-7 .u-group-1 {
  width: 772px;
  min-height: 168px;
  margin: 97px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  margin: 36px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 15px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 967px;
  margin: 13px auto 81px 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 518px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  margin: 39px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 30px 0 25px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-7 .u-image-2 {
  height: 300px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-shape-1 {
  width: 352px;
  height: 195px;
  margin: -414px auto 0 162px;
}

.u-section-7 .u-image-3 {
  width: 337px;
  height: 184px;
  margin: -154px auto 0 195px;
}

.u-section-7 .u-text-5 {
  margin: 228px 0 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    width: 343px;
  }

  .u-section-7 .u-group-1 {
    width: 637px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 797px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 813px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 25px;
    margin-bottom: 45px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 581px;
    margin: 177px auto 55px 0;
  }

  .u-section-7 .u-image-2 {
    height: 232px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-shape-1 {
    width: 290px;
    margin-left: 134px;
  }

  .u-section-7 .u-image-3 {
    width: 282px;
    height: 187px;
    margin-left: 161px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 225px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 263px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-7 .u-group-1 {
    width: 488px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 675px;
    margin-bottom: 128px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 877px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 19px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 645px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-7 .u-image-2 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-shape-1 {
    width: 222px;
    margin-left: 102px;
  }

  .u-section-7 .u-image-3 {
    width: 213px;
    height: 184px;
    object-position: 96.27% 50%;
    background-position: 96.27% 50%;
    margin-left: 123px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 228px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 299px;
    margin-top: -116px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1702px;
    margin-top: -455px;
  }

  .u-section-7 .u-group-1 {
    width: 457px;
    min-height: 193px;
    margin-top: 246px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    margin-bottom: 20px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -12px;
    margin-bottom: 81px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 445px;
    z-index: 2;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 14px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 14px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 517px;
  }

  .u-section-7 .u-shape-1 {
    width: 208px;
    margin-left: 77px;
  }

  .u-section-7 .u-image-3 {
    width: 200px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-left: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 285px;
    height: 516px;
    margin-top: -207px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 2048px;
    margin-top: -308px;
  }

  .u-section-7 .u-group-1 {
    min-height: 136px;
    margin-top: 302px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-7 .u-text-2 {
    margin-bottom: 15px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 205px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 748px;
    z-index: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-7 .u-shape-1 {
    width: 280px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    width: 282px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-text-5 {
    margin-bottom: 0;
  }
} .u-section-8 {
  background-image: url("images/bggradient4.jpg");
}

.u-section-8 .u-sheet-1 {
  min-height: 537px;
  margin: 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  margin: -111px auto 12px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 595px;
  background-image: none;
}

.u-section-8 .u-image-1 {
  height: 339px;
  margin: 56px auto 0 0;
}

.u-section-8 .u-image-2 {
  background-image: url("images/as.jpg");
  min-height: 595px;
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 595px;
}

.u-section-8 .u-image-3 {
  height: 395px;
  margin: 39px auto 50px 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 595px;
  background-image: none;
}

.u-section-8 .u-image-4 {
  height: 335px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: 32px 0 55px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    height: 509px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 544px;
    margin-top: -11px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 499px;
  }

  .u-section-8 .u-image-3 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 691px;
  }

  .u-section-8 .u-image-4 {
    height: 431px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-bottom: 65px;
  }
}